pymongo[srv]==4.2.0
typing==3.7.4.3
pandas==1.1.5
scikit-learn==1.0.2
dill == 0.3.6
PyYAML == 6.0
scipy == 1.7.3
imblearn == 0.0
xgboost == 1.6.2
fastapi == 0.94.1
uvicorn == 0.21.1
python-multipart == 0.0.6
-e .